<div>
  <%= form_with url: ("/posts/#{@post.id}"), local: true, method: :patch do |f| %>
    <%= f.label :title %><br />
    <%= f.text_field :title, placeholder: "タイトル", value: @post.title, id: :post_title, class: "input-field" %>

    <%= f.label :text %><br />
    <%= f.text_area :text, placeholder: "本文", value: @post.text, id: :post_text, class: "materialize-textarea" %>

    <%= button_tag type: "submit", class: "btn waves-effect waves-light" do %>
      更新する<i class="material-icons right"></i>
    <% end %>
  <% end %>
</div>
